<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-vdphotoselfiecapture"
    version="1.0.0">
    <name>Veridas VDPhotoSelfieCapture SDK Cordova Plugin</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/davgc/cordova-plugin-vdphotoselfiecapture.git</repo>
    
  <engines>
    <engine name="cordova" version=">=6.4.0" />
    <engine name="cordova-android" version=">=6.1.0" />
    <engine name="cordova-ios" version=">=4.5.0" />
  </engines>

   <dependency id="cordova-plugin-vdcore" url="https://github.com/davgc/cordova-plugin-vdcore.git"/>
     

      <!-- android -->
    <platform name="android">

      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- Este es el nombre por el cual se accedera el plugin -->
        <clobbers target="CDVDPhotoSelfieCapture" />
      </js-module>

      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="CDVDPhotoSelfieCapture">
          <param name="android-package" value="com.syntonize.CDVDPhotoSelfieCapture" />
          <param name="onload" value="false" />
        </feature>
      </config-file>

       <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>

      <source-file src="src/android/com/syntonize/CDVVDPhotoSelfieCapture.java" target-dir="src/com/syntonize/" />
      
      <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
      <resource-file src="src/android/libs/VDPhotoSelfieCapture.aar" target="libs/VDPhotoSelfieCapture.aar" />


    </platform>
   

    <!-- ios -->
    <platform name="ios">

    <preference name="CAMERA_PERMISION" default="This app wants to get access to the camera to take a selfie"/>

        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="CDVVDPhotoSelfieCapture" />
        </js-module>

        <config-file target="config.xml" parent="/*">
            <feature name="CDVVDPhotoSelfieCapture">
                <param name="ios-package" value="CDVVDPhotoSelfieCapture" onload="false" />
            </feature>
        </config-file>

         <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
          <string>$CAMERA_PERMISION</string>
         </config-file>
         
        <!-- <dependency id="cordova-plugin-vdcore" url="https://github.com/davgc/cordova-plugin-vdcore.git"/> -->
     
        <header-file src="src/ios/CDVVDPhotoSelfieCapture.h" />
        <source-file src="src/ios/CDVVDPhotoSelfieCapture.m" />
        <header-file src="src/ios/VDWebViewSelfie.h" />
        <source-file src="src/ios/VDWebViewSelfie.m" />

        <framework src="src/ios/Framework/VDPhotoSelfieCapture.framework"  embed="true" custom="true" />
    
    </platform>
</plugin>
